@tailwind base;
@tailwind components;
@tailwind utilities;

.content-full-no-nav{
    height: calc(100vh - 56px);
}

@layer components {
    .meme-container {
      @apply rounded overflow-hidden border w-11/12  md:w-6/12 lg:w-4/12 bg-white mx-auto;
    }
    
    .btn {
      @apply bg-black hover:bg-gray-800 text-white font-bold py-2 px-4 rounded hover:cursor-pointer select-none;
    }

    .nav-push{
      margin-top: 56px;
    }

    .meme-img{
      min-height: 200px;
    }

    @media screen and (min-width: 1600px){
      .meme-img{
        min-height: 400px;
      }
    }

    .hidden-element{
      opacity: 0;
      pointer-events: none;
    }
  }